body {
  font_family: 'Roboto', sans-serif;
  font_weight: 300;
  background-color: #fff;
  margin: 0 0;
}

nav {
  margin: 0 0;
}

.col-md-6 {
  margin: 0 0 10px;
}

section .row img {
  margin: 0 0 10px;
  width: 100%;
}

.poll {
  background-color: pink;
  height: 282px;
}

.poll ul li{
  line-height: 3.6;
  font-size: 16px;
  list-style-type: none;
}