<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/bootp.css' %}">
    <title>Hellopy</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
         data-target="#navbar-collapse-basepage">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">H & T</a>
   </div>
   <div class="collapse navbar-collapse" id="navbar-collapse-basepage">
      <ul class="nav navbar-nav">
         <li class="active"><a href="#">News</a></li>
         <li><a href="#">World</a></li>
         <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               More <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
               <li><a href="#">Money</a></li>
               <li><a href="#">Job</a></li>
               <li><a href="#">Other</a></li>
               <li class="divider"></li>
               <li><a href="#">login</a></li>
               <li class="divider"></li>
               <li><a href="#">about</a></li>
            </ul>
         </li>
      </ul>
   </div>
   </div>
</nav>
<section class="jumbotron subhead" id="header-base">
    <div class="container">
        <div class="row text-center">
            <h2>最新动态</h2>
            <h4>This year is the most unstable year for 20 years recently.</h4>
            <a class="btn btn-primary" href="#">See more</a>
        </div>
    </div>
</section>

{% block content %}
{% endblock %}

<footer>
    <div class="contaier">
    <p class="text-center"><strong>H & T</strong></p>
    <p class="text-center"><strong>&copy;All rights reserved</strong></p>
    <h5 class="text-center">Powered by &nbsp;<a href="#">Yongzheng</a></h5>
    </div>
</footer>
</body>
</html>