{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section class="container">
    <div class="row">
    <div class="col-md-6">
    <p>最新消息</p>
    <img src="{% static 'images/74M.jpg' %}" alt="pic of poll" />
    </div>
    <div class="col-md-6">
    <p>最新消息</p>
    <img src="{% static 'images/74M.jpg' %}" alt="pic of poll" />
    </div>
    <div class="col-md-6">
    <p>最新消息</p>
    <img src="{% static 'images/74M.jpg' %}" alt="pic of poll" />
    </div>

    <div class="col-md-6">
        <p>最新消息</p>

        <div class="poll">
        {% if latest_question_list %}
            <ul>
            {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a> </li>
            {% endfor %}
            </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
        </div>

    </div>
    </div>
</section>
{% endblock %}
